body{
margin: 0;
background-image: linear-gradient(-90deg, #1a1a1a, #333333);
}

hr, .dropdown-divider{
border-color:#4d4d4d;
}

.card, .modal{
border-color:black !important;
border-radius:0 !important;
color:#b2b2b2 !important;
}

.card-header, .card-footer, .modal-header, .modal-footer, .dropdown-menu{
background-color:#333333 !important;
border-color:black !important;
border-radius:0 !important;
color:#cbcbcb !important;
}

.dropdown-item, .dropdown-header{
color:#cbcbcb !important;
}

.dropdown-item:hover{
background-color:#4d4d4d !important;
}

.dropdown-item:active{
background-color:#666666 !important;
}

.progress{
background-color:#000000;
}

.form-control, .form-control:active{
background-color:#000000;
border-color:#1a1a1a;
}

.card-body, .modal-body{
background-color:#1a1a1a !important;
}

.text-dark{
color:white !important;
}

.bg-color{
background-image: linear-gradient(-90deg, #1a1a1a, #333333);
}

/* DROPDOWN SEM SETA */
.dropdown.no-arrow .dropdown-toggle::after {
display: none;
}

.navbar-light, .bg-light{
background-color: #1a1a1a !important;
}

.nav-item .nav-link{
color: #cbcbcb !important;
}

.topbar{
border-bottom: solid black 1px;
}

.pass-valid{
color:green;
}

.pass-valid:before{
font-family: 'Calibri';
position: relative;
content: "✔";
}

.pass-invalid{
color:red;
}

.pass-invalid:before{
font-family: 'Calibri';
position: relative;
content: "✖";
}

#wrapper {
display: flex;
}

#wrapper #content-wrapper {
background-color: #f8f9fc;
width: 100%;
overflow-x: hidden;
}

#wrapper #content-wrapper #content {
flex: 1 0 auto;
}


/* ADICIONAR WIDGETS ----------------------------------------------------------------------------------------------------------------------------------------*/
.button-add{
height:100%; 
border:3px dashed white;
font-size:48pt;
color:white;
text-align:center;
}

/*COMPORTAMENTOS -----------*/
.button-add:hover{
color:#cdcae1;
border:3px dashed #cdcae1;
}

.button-add:active{
color:white;
border:3px dashed white;
background-color:#33058d;
}
/*----------------------------*/

.widgets{
	height:70vh;
	overflow-y:scroll;
}


/*BG COLORS ----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* INDIGO */
.bg-indigo {
background-color: #0093b2 !important;
}

/* INDIGO 80% */
.bg-indigo80 {
background-color: #26c8eb !important;
}

/* INDIGO 60% */
.bg-indigo60 {
background-color: #50d5f2 !important;
}

/* AZUL */
.bg-blue {
background-color: #0093b2 !important;
}

/* MAGENTA */
.bg-magenta {
background-color: #d40f7d !important;
}

/* CINZENTO CLARO */
.bg-light-gray {
background-color: #000000 !important;
}



/*COLORS ----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* INDIGO */
.c-indigo {
color: #0093b2 !important;
}

/* INDIGO 80% */
.c-indigo80 {
color: #26c8eb !important;
}

/* INDIGO 60% */
.c-indigo60 {
color: #50d5f2 !important;
}

/* AZUL */
.c-blue {
color: #0093b2 !important;
}

/* MAGENTA */
.c-magenta {
color: #d40f7d !important;
}

/* CINZENTO CLARO */
.c-light-gray {
color: #e4e4e4 !important;
}

/* CINZENTO ESCURO */
.c-dark-gray {
color:#b2b2b2 !important;
}

/*DENTRO DO PRAZO*/
.c-ontime{
color: #7ac843 !important;
}

/*URGENTE*/
.c-urgent{
color: #ff921e !important;
}

/*EXPIRADO*/
.c-expired{
color: #ff1d25 !important;
}



/*HEADER-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.unik-logo{
filter:brightness(1000%);
}

.img-profile-s{
height: 2rem;
width: 2rem;
clip-path: polygon(0 9%, 9% 0%, 91% 0%, 100% 9%, 100% 81%, 81% 100%, 18% 100%, 0% 81%);	
}

.unik-searchbar{
background-image: url(../img/assets/icons/search.svg);
background-repeat: no-repeat;
text-indent: 20px;	
}

.topbar-btn .topbar-btn-shape{
fill:#0093b2;
}


.topbar-btn:hover .topbar-btn-shape{
fill:#26c8eb;
}

/*MENU-------------------------------------------------------------------------------------------------------------------------------------------------------*/
.menu {
width: 260px;
min-height: 100vh;
}

.menu .nav-item {
position: relative;
}

.menu .nav-item .nav-link {
text-align: left;
padding: 0.75rem 1rem;
width: 100%;
}

/* LINK ATIVO */
.menu .nav-item.active .nav-link {
color: white !important;
font-weight: 700;
background-color: #0093b2
}

/* 2º NÍVEL DE MENU */
.menu .menulvl-2 {
padding-left: 33px;
/* display: block; */
text-decoration: none;
background-color: #2d2d2d;
}

.menu .menulvl-2 .nav-link{
border-left: 5px solid #0093b2 !important;
}

/* 3º NÍVEL DE MENU */
.menu .menulvl-3 {
padding-left: 50px;
/*display: block;*/
text-decoration: none;
background-color: #4d4d4d;
}

/* 4º NÍVEL DE MENU -----------------------------------------------------------------------------------------------------------------------------------------*/
.menu .menulvl-4 {
padding-left: 60px;
/*display: block;*/
text-decoration: none;
background-color: #666666;
}

/* COMPORTAMENTOS ---------------*/
.menu .menulvl-4 .nav-link:hover {
/*display: block;*/
color: #3a3b45 !important;
text-decoration: none;
background-color: #808080;
}

.menu .menulvl-4 .nav-link:active {
/*display: block;*/
color: #ffffff !important;
text-decoration: none;
background-color: #aaaaaa;
}
/*--------------------------------*/

.menu .nav-link{
text-decoration: none;
}

.menu .nav-link:hover{
padding-left:20px;
color: #ffffff !important;
background-color: #003f47;
transition: .2s ease-out;
}

.menu .nav-link:active{
color: #ffffff !important;
background-color: #0093b2;
transition: .2s ease-out;
}



/*PUZZLE-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.tile1 {
width:65px;
height:65px;
line-height:65px;
background: url(../img/assets/buymenu/bg.png);
background-position: 0px 0px;
text-align: center;
}

.tile2 {
width:65px;
height:65px;
line-height:65px;
background: url(../img/assets/buymenu/bg.png);
background-position: -52px 0px;
text-align: center;
}

.tile3 {
width:65px;
height:65px;
line-height:65px;
background: url(../img/assets/buymenu/bg.png);
background-position: -104px 0px;
text-align: center;
}

.tile4 {
width:65px;
height:65px;
line-height:65px;
background: url(../img/assets/buymenu/bg.png);
background-position: -156px 0px;
text-align: center;
}

.tile5 {
width:65px;
height:65px;
line-height:65px;
background: url(../img/assets/buymenu/bg.png);
background-position: 0px -52px;
text-align: center;
}

.tile6 {
width:65px;
height:65px;
line-height:65px;
background: url(../img/assets/buymenu/bg.png);
background-position: -52px -52px;
text-align: center;
}

.tile7 {
width:65px;
height:65px;
line-height:65px;
background: url(../img/assets/buymenu/bg.png);
background-position: -104px -52px;
text-align: center;
}

.tile8 {
width:65px;
height:65px;
line-height:65px;
background: url(../img/assets/buymenu/bg.png);
background-position: -156px -52px;
text-align: center;
}

.tile-opacity {
opacity: 0.90;
}

.tile-disabled {
opacity: 0.66;
}

.tile1:hover, .tile2:hover, .tile3:hover, .tile4:hover, .tile5:hover, .tile6:hover, .tile7:hover, .tile8:hover {
opacity: 1;
}

.puzzle-item {
display: inline-block;
line-height: normal;
color: white;
}



/*COMPONENTES------------------------------------------------------------------------------------------------------------------------------------------------*/
/*PERFIL -------------------------------------*/
.img-profile{
width:90%;
clip-path: polygon(0 9%, 9% 0%, 91% 0%, 100% 9%, 100% 81%, 81% 100%, 18% 100%, 0% 81%);	
}

.profile-name{
margin-bottom:0px;
}

.profile-job-title{
margin-top:0px;
}

.profile-info{
margin:0;
font-size:9pt;
}
/*---------------------*/

.status-available{
color:white;
background-color:#0093b2;
border-radius:7px;
}

.status-urgent{
color:white;
background-color:#ff921e;
border-radius:7px;
}

/* BOTÕES ---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*GENÉRICO*/
.btn-generic{
color:#cbcbcb;
background-color:#333333;
border: 1px solid #000000;
}
.btn-generic:hover{
color:#cbcbcb;
background-color:#4d4d4d;
}
.btn-generic:active{
color:white;
background-color:#0093b2;
}

/*INDIGO*/
.btn-indigo{
background-color:#0093b2;
color:white;
}
.btn-indigo:hover{
color:white;
background-color:#26c8eb;
}
.btn-indigo:active{
color:white;
background-color:#50d5f2;
}

.btn-outline-indigo{
border-color:#0093b2;
color:#0093b2;
}
.btn-outline-indigo:hover{
background-color:#003f47;
text-decoration:none;
color:#ffffff;
}
.btn-outline-indigo:active{
background-color:#0093b2;
color:#ffffff;
text-decoration:none;
}

/*-----------------*/