#if("$Tab12" != "no")
<h1>$notes_title</h1>
	#if($notifications.size()> 0)
		#set($msg_display="")
		#set($msg_empty_display="none")
	#else
		#set($msg_display="none")
		#set($msg_empty_display="")
	#end
<div class="table_inc" id="msg_table" style="display:$msg_display">
	<div class="alert alert-info">$notificationsMsg</div>
	<table class="item_list process">
		<tr class="tab_header">
			<td></td>
			<td>$notes_from/$notes_date</td>
			<td>$notes_message<br>$notificationtitle</td>			
		</tr>
	#set($odd=1)
	#foreach($note in $notifications)
		#if($odd == 0)
			#set($class_type="even")
			#set($odd=1)
		#else
			#set($class_type="odd")
			#set($odd=0)
		#end
		<tr class="tab_row_$class_type" id='msg_tr_$note.get("id")'>
			<td class="itemlist_icon">
				<a href="javascript: document.getElementById('delegButtonCount').text= document.getElementById('delegButtonCount').text-1; if(document.getElementById('delegButtonCount').text<'0') document.getElementById('delegButtonCount').text=0; markNotification($note.get("id"), 'M');">
					<img class="toolTipImg" src="images/icon_unread.png" id="msg_img_$note.get("id")"width="16" height="16" border="0" title="$notes_tooltip">
				</a>
			</td>
			<td>
				$note.get("from")<br>/$note.get("date")
				#if($note.get("link")!="false")				
					<br><a href="javascript:process_detail($note.get("link"));"> $notificationitem </a>						
				#end
			</td>
			<td>$note.get("message")</td>					
		</tr>
	#end
	</table>
	#if($hasMoreNotifications)
	<div class="button_box">
		<input class="regular_button_00" type="button" name="more" value="$button_more" 
				onClick="javascript:tabber(6, '','','$response.encodeURL($url_prefix,'inbox.jsp')','ts=$ts');" />
	</div>    
	#end
</div>
<div id="msg_empty_div" style="display:$msg_empty_display">
	<div class="info_msg alert alert-info small">
		${notes_empty}. <br/><a class="toolTipImg" style="color:#666;" href="javascript:tabber('inbox','','',inboxJSP,'ts=$ts');" title="$tooltip_inbox">$notes_empty_link_text</a>.
	</div>
</div>
#end

#if("$Tab5" != "no")
<h1>$delegs_title</h1>
	  
	#if($hasDelegs)
<div class="table_inc">	  
	<div class="tab_title">
		$delegs_received_requests
	</div>
	<p class="item_list process">$delegationsMsg</p>
	<table class="item_list process">
		<tr class="tab_header">
			<td>$delegs_title_responsible/<br>$delegs_title_flow</td>
			<td>$delegs_title_endDate</td>			
		</tr>
		#set($odd=1)
		#foreach( $received in $receivedDelegs )
			#if($odd == 0)
				#set($class_type="even")
				#set($odd=1)
			#else
				#set($class_type="odd")
				#set($odd=0)
			#end
		<tr class="tab_row_$class_type">
			<td>$received.get("OwnerID")/<br>$received.get("FlowName")</td>
			
			<td>
				$received.get("Expires")<br>
				<a class="cell_button" onclick="document.getElementById('delegButtonCount').text= document.getElementById('delegButtonCount').text-1;" href="javascript:tabber(5, gestaoTarefasNavJSP, '', '$response.encodeURL($url_prefix,'confirmar_agendamento.jsp')', 'id=$received.get("HierarchyID")&owner=$received.get("OwnerID")&dkey=$received.get("AcceptKey")&ts=$ts');getCtrlFill(mainContentJSP, 'data=alerts', delegationsForm);getCtrlFill(mainContentJSP, 'data=procs', containerFlowList);">$delegs_title_accept</a>
				<a class="cell_button" onclick="document.getElementById('delegButtonCount').text= document.getElementById('delegButtonCount').text-1;" href="javascript:tabber(5, gestaoTarefasNavJSP, '', '$response.encodeURL($url_prefix,'confirmar_agendamento.jsp')', 'id=$received.get("HierarchyID")&owner=$received.get("OwnerID")&dkey=$received.get("RejectKey")&ts=$ts');getCtrlFill(mainContentJSP, 'data=alerts', delegationsForm);getCtrlFill(mainContentJSP, 'data=procs', containerFlowList);">$delegs_title_refuse</a>				
			</td>
			
		</tr>
		#end
	</table>
</div>    
	#else
	
	<div id="msg_empty_div" style="display:$msg_empty_display">
		<div class="info_msg alert alert-info small">
			${no_delegs}.<br/><a class="toolTipImg" style="color:#666;" href="javascript:tabber(5, gestaoTarefasNavJSP, '', gestaoTarefasJSP, 'ts=$ts');" title="$tooltip_delegs">$no_delegs_link_text</a>.
		</div>
	</div>


	#end
#end
