<h1 id="title_delegations">$delegs_title</h1>
  
#if($hasDelegs)
<div class="table_inc">	  
	<div class="tab_title">
		$delegs_received_requests
	</div>
	<p>$delegationsMsg</p>
	<table class="item_list">
		<tr class="tab_header">
			<td>$delegs_title_responsible</td>
			<td>$delegs_title_flow</td>
			<td>$delegs_title_endDate</td>
			<td></td>
			<td></td>
		</tr>
		#set($odd=1)
		#foreach( $received in $receivedDelegs )
			#if($odd == 0)
				#set($class_type="even")
				#set($odd=1)
			#else
				#set($class_type="odd")
				#set($odd=0)
			#end
			<tr class="tab_row_$class_type">
			
			
				<td>$received.getOwnerID()</td>
				<td>$received.getFlowName()</td>
				<td>$received.getExpires()</td>
				<td><a class="cell_button" href="javascript:tabber(5, gestaoTarefasNavJSP, '', '$response.encodeURL($url_prefix,'confirmar_agendamento.jsp')', 'id=$received.getHierarchyID()&owner=$received.getOwnerID()&dkey=$received.getAcceptKey()&ts=$ts');">$delegs_title_accept</a>
				<td><a class="cell_button" href="javascript:tabber(5, gestaoTarefasNavJSP, '', '$response.encodeURL($url_prefix,'confirmar_agendamento.jsp')', 'id=$received.getHierarchyID()&owner=$received.getOwnerID()&dkey=$received.getRejectKey()&ts=$ts');">$delegs_title_refuse</a>
			</tr>
		#end
	</table>
</div>    
#else
<div class="info_msg">
	${no_delegs}.<a class="toolTipImg" href="javascript:tabber(5, gestaoTarefasNavJSP, '', gestaoTarefasJSP, 'ts=$ts');" title="$tooltip_delegs">$no_delegs_link_text</a>.
</div>
#end


